p,h1,h2 {
	font-family:sans;
	color: #333333;
	font-weight:300;
}

body {
	background-image:url('images/background.png');
	background-size:10vw 10vw;
	background-position:center;
	padding-top:32px;
	overflow-x:hidden;
}

.vignette {
	background-color:#00000000;
	box-shadow:0px 0px 100vw rgba(0,0,0,0.5) inset;
	width:100%;
	height:100vh;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-5;
}

.logo {
	margin-left:auto;
	margin-right:auto;
	display:block;
	width: 300px;
}

#main-container {
	margin-top:32px;
	border-style:ridge;
	border-width:8px;
	border-color:#5da1c2;
	margin-left:auto;
	margin-right:auto;
	width:768px;
	min-height:512px;
	background-color:#FAFAFA;
	box-shadow:0px 0px 30px rgba(0,0,0,1);
}

#inner-container {
	padding-left: 20px;
	padding-right: 20px;
}


.navbar, .options {
	list-style-type: none;
	padding: 4px;
	overflow: hidden;
}

.navbar {
	margin: 0px;
	background-color: #6ebbe0;
	border-style: none none groove none;
	border-width: 2px;
	border-color: #000000;
}

.navbar li {
	float: left;
	margin: 4px;
}

.options li {
	float: left;
	margin: 4px;
}

.navbar .right-align {
	float: right;
}

.navbar li a, .navbar li p, .options li a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 5px;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-shadow: 0px 0px 3px black;
	margin: 0;
}

.navbar li a, .options li a {
	text-decoration: none;
	border-style: solid solid solid solid;
	border-width: 1.5px;
	border-color:#000000;
	background-image: linear-gradient(to bottom, #7eccf2, #6ebbe0, #6ebbe0, #6ebbe0, #5da1c2);
	border-radius: 10px;
}

.navbar li a:hover, .options li a:hover {
	background-image: linear-gradient(to bottom, #7eccf2, #6ebbe0, #6ebbe0, #6ebbe0, #7eccf2);
}

.img404 {
	width:320px;
	margin-bottom:24px;
}

.outer-direct {
	list-style-type: none;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	margin-top:0;
	margin-left:0;
	padding: 0;
	width:100%;
	color:rgba(0,0,0,0);
	background-color:#47606ccc;
}

.outer-direct li {
	float: right;
	margin: 4px;
}

.outer-direct li a {
	display: block;
	color:white;
	font-weight: bold;
	text-shadow: 0px 0px 5px black;
	text-align: center;
	padding: 4px 4px;
	text-decoration: none;
}

.warning {
	background-color: #ffd000;
	font-weight: bold;
	padding: 10px;
	border-style: ridge;
	border-color: #ddb000;
	border-width: 3px;
}

button {
	background-image: linear-gradient(to bottom, #fcfcfc, #dfdfdf);
}

button:hover {
	background-image: linear-gradient(to bottom, #dfdfdf, #eaeaea);
}

button:active {
	background-image: linear-gradient(to bottom, #c0c0c0, #dfdfdf);
}

input {
	font-family:monospace;
}